.stepeprComponent {
    display: flex;
    align-items: center;

    height: calc(100% - 90px);

    padding: 20px;
    background-color: #F5F5F5;
}

.currentComponent {
    display: flex;
    flex: 1;

    padding: 20px;

    border: 1px dotted black;
    border-radius: 20px;
}

.stepper {
    padding: 20px;
}

.stepperHeader {
    display: flex;
    justify-content: space-evenly;

    padding: 20px;
}

.eachStep {
    display: flex;
    flex-direction: column;
}

.Mui-completed,
.Mui-active {
    color: #EE1B25 !important
}