form {
    display: flex;
    flex: 1;
}

.personalInfoContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    width: 20rem;
}

.formGroup {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 10px;
}

.backButton {
    padding: 10px;

    border: 1px solid black;
    border-radius: 6px;

    cursor: pointer;

    background: grey;
    color: white;

    text-transform: uppercase;
}

.profileInfoContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 50px;
}

.avatarContainer,
.signatureContainer {
    display: flex;
    justify-content: space-evenly;

    padding: 20px;

    border-radius: 10px;
    border: 1px dotted black;
}

.captureForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.successPage {
    display: flex;
    justify-content: center;
    flex: 1;
    align-items: center;
}

.successPageCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.successIcon{
    color: green;
}

.sigCanvas {
    border: 1px dotted black;
}

input[type="submit"] {
    padding: 10px;

    border-radius: 6px;
    border: 1px solid black;

    background: red;
    color: white;

    cursor: pointer;


    text-transform: uppercase;
}