.personalInfoContainer {
    display: flex;
    flex-direction: column;
    width: 20rem;
    gap: 1rem;
}

.formGroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

input[type="submit"] {
    background: red;
    color: white;
    text-transform: uppercase;
    border: 1px solid black;
    padding: 10px;
    border-radius: 6px;
}