#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  /* text-align: center; */
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  /* padding: 25px; */
  background: #F5F5F5;
}

.MainContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  display: flex;
  justify-content: center;
  height: 50px;
  background: white;
}

.Content {
  display: flex;
  flex: 1 1;
  /* flex-direction: column; */
  padding: 25px;
}