#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  /* text-align: center; */
  box-sizing: border-box;
}

.MainContainer {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: center;
  height: 50px;
}

.Content {
  display: flex;
  /* flex-direction: column; */
  /* padding: 20px; */
}